    <div *ngIf="serverErrors">
        Серверные ошибки
        <p *ngFor="let err of serverErrors">
            {{ err }}
        </p>
    </div>
    <dx-form id="spr"
            [formData]="entity" 
            [labelMode]="'floating'"
            (onFieldDataChanged)="onFieldDataChanged($event)"
            #sprForm 
            >
        <ng-container *ngIf="isTree">
            <dxi-item [label]='{text:"Группа"}'  dataField="parentName"></dxi-item>
        </ng-container>
        
        <dxi-item  [label]='{text:"Дата окончания"}' dataField="toDate" width="3"></dxi-item>
    </dx-form>
    <dx-button text="ОК" (onClick)="okButton()" [disabled]="!isValid"></dx-button>
    <dx-button text="Отмена" (onClick)="cancelButton()"></dx-button>

<dx-load-panel
    shadingColor="rgba(0,0,0,0.4)"
    [position]=" 'center'"
    [message]="loadingMessage"
    [(visible)]="!isLoaded || isSaving"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [hideOnOutsideClick]="false"
>
</dx-load-panel>

